html{font-family: 'Noto Sans KR', sans-serif;}
	*{box-sizing: border-box;}
		body,nav,section{margin: 0; background: black; overflow-x: hidden; }
		div{width:1000px; margin: auto; }
		section{background: black; margin: auto; padding-top: 50px; padding-bottom: 50px;}
		p{word-break: keep-all; margin: 0;}
		h2{color: #0000ff; font-size: 50pt; margin: 0; }
		h3{font-size: 32pt; color: #0000ff; font-weight: 700;margin: 0;}
		h4{font-size: 32pt; color: white; font-weight: 700; margin: 0; margin-bottom: 20px;}
		.d1{width: 100%;  padding: 0; overflow: hidden; position: relative;}
		video{width: 100%; min-width: 2100px; }
		html{scroll-behavior: smooth;}
	
	.d1{width: 100%;  padding: 0; overflow: hidden; position: relative;}
	.s1{padding-top: 0; }
	
	.title{color: #0000ff; position: absolute; top: 550px; left: 50%;
				transform: translate(-50%, -50%); width: 1200px;
				padding: 0; text-align: center; font-size: 80pt; text-shadow: 5px 5px 0px white; 
				animation: title 0.9s ease-in-out; animation-iteration-count: 1;}

	@keyframes title { 	0% {opacity: 0; margin-top: 40px;}
							100% {opacity: 1; margin-top: 0px;} 
						}


		


	.s2{padding-top: 350px; position: relative;}
	.d2-1{margin: 0; text-align: center; width: 100%; margin-top: 200px; margin-bottom: 200px; position: absolute;
			line-height: 1;}
	.d2-2{margin: 0; width: 100%;}
	.stop{width: 100%; min-width: 1800px;}

	.d2-3{margin: 0; width: 100%; position: absolute; top: 450px; z-index: 10px;}
	.bus{width: 100%; min-width: 1800px;}

	.d2-4{display: flex; padding-top: 300px;}
	.m,.u{font-size: 80px; font-weight: 500; color: #0000ff; text-align: center;  margin: 0;}
	.m p{margin: 0;}
	.u p{margin: 0;}
	.gg{color: #0000ff;  font-size: 20px; text-align: center; padding-top: 50px; padding-bottom: 250px;
		 padding-left: 50px;}

	.wait{animation: blink 0.8s infinite;}
	@keyframes blink{0%, 20%, 40%, to { opacity: 1; } 10%, 30% { opacity: 0; }}




	.s3{position: relative; background-color: white;}
	.d3-0{text-align: center; color: #0000ff; font-size: 18pt; padding: 200px;}
	.d3-1,.d3-2,.d3-3{width: 1200px;display: flex; gap: 150px; margin-bottom: 180px;color: #0000ff; font-size: 14pt;}
	.d3-2{flex-direction: row-reverse;}
	.d3-4{margin-top: 200px; margin-bottom: 200px; text-align: center;color: #0000ff;  font-size: 20pt; line-height: 2; color: white;}
	.st{margin: 0; width: 500px;animation:flicker 1.5s infinite;}
	.dc3-1,.dc3-2,.dc3-3{line-height: 1.7; width: 500px; margin: 0;}


	.s5{background: url('light.gif'); background-size: 100% auto; background-attachment:fixed; }
	.d5{width:1200px;  text-align: center; margin-top: 200px;  margin-bottom: 200px;}

	.s6{margin-bottom: 200px;}
	.d6-1{color: #0000ff; width: 500px; font-size: 20px; margin-left: 150px; margin-top: 150px;line-height: 1.7;}
	.d6-2{width: 100%; margin: auto; position: relative; height: 100rem; }
	.li1,.li2,.li3,.li4,.li5,.li6,.li7,.li8,.li9,.li10,.li11,.li12{
		width: 100%;	position: absolute;}

	.li1{top: 0px;}	
	.li2{top: 130px;}
	.li3{top: 400px;}
	.li4{top: 450px;}
	.li5{top: 620px; z-index: 10;}
	.li6{top: 520px; z-index: 9;}
	.li7{top: 600px;}
	.li9{top: 700px;}
	.li10{top: 900px;}
	.li11{top: 880px;}
	.li12{top: 950px;}

	.li0{position: absolute; color: white; top: 400px; width: 100%; text-align: center; font-size: 22pt; font-weight: 500;z-index: 11;}

	.d6-3{padding-top: 5rem; color: #0000ff; width: 500px; font-size: 20px; margin-right: 150px; line-height: 1.7; }



	.s7{background-color: #0000ff; }
	.d7-1,.d7-3{color: white; width: 500px; font-size: 20px; margin-left: 150px; margin-top: 150px;line-height: 1.7;}
	.d7-3{ margin-right: 500px; margin-bottom: 150px; margin-top: 150px;}
	
	.d7-2{ width: 1200px; display:flex; position: relative; height: 400px;
				justify-content: center; margin: auto; margin-top: 200px;}
	.face{position: absolute; margin: auto; padding: 0;
				animation: face 2s ease-in-out infinite; animation-direction: alternate;
				mix-blend-mode: screen;}
	.dc7-1,.dc7-2{width: 580px; font-size: 80pt; margin: 0; text-align: center; font-weight: 500; color: white; margin-top: 130px;}
	.dc7-1{animation: size1 2s  ease-in-out infinite; animation-direction: alternate; }
	.dc7-2{animation: size2 2s  ease-in-out infinite; animation-direction: alternate; }


	@keyframes face{0%{left: 100px; top: 0px;  } 100%{left: 120px; top: 0px;transform: rotateY(180deg);} }
	@keyframes size1{0%{transform:scale(1.5);} 100%{transform: scale(1.0); opacity: 0.3}}
	@keyframes size2{0%{transform:scale(1.0) opacity: 0.3;} 100%{transform: scale(1.5);}}




	.s8{margin-bottom: 300px;}
	.d8-1{color: #0000ff; width: 500px; font-size: 20px; margin-left: 150px; margin-top: 150px;line-height: 1.7;}



	.s9{background: url('light.gif'); background-size: 100% auto; background-attachment:fixed; }
	.d9-1{width:1000px; background-color: rgba(0, 0, 0, 0.8); border: solid 1px white;
			color: white; text-align: center; padding: 60px; margin-top: 120px; margin-bottom: 120px; 
			text-align: center; font-size: 16pt; line-height: 2;}

	.s10
	.d10{font-size: 18pt;  padding: 130px; color: white; text-align: center; }
